@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<CarWorkShop.ViewModels.CatalogViewModel>

@{

    if (ViewBag.CategoryName == null)
    {
        ViewBag.Title = "Catalog";
    }
    else
    {
        ViewBag.Title = "Catalog - " + ViewBag.CategoryName;
    }
}




<h2>@ViewBag.Title</h2>



<table class="table table-hover ">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Unit Cost</th>
            <th>Description</th>
            <th>Category</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <thead>
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    <img src="~/Images/Products/@item.ImageFileName" style="width:100px" />
                </td>
                <td style="text-align: right">
                    @item.UnitCost
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.CategoryName
                </td>
                <td>
                    <a href="~/OrderDetails/ShoppingCart?ProductId=@item.ProductId">Add&nbsp;to&nbsp;Cart</a>
                </td>
                <td>
                    <a href="~/Catalog/Details?ProductId=@item.ProductId">Details</a>
                </td>
            </tr>
        </thead>


    }





</table>
<div>
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="@Url.Action("Index")">&laquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="@Url.Action("Index")">1</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="@Url.Action("Index2")">2</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" )">&raquo;</a>
        </li>
    </ul>
</div>

