@model IEnumerable<CarWorkShop.ViewModels.CatalogViewModel>
@{

    if (ViewBag.CategoryName == null)
    {
        ViewBag.Title = "Catalog";
    }
    else
    {
        ViewBag.Title = "Catalog - " + ViewBag.CategoryName;
    }
}

<h2>@ViewBag.Title</h2>



<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Unit Cost</th>
            <th>Description</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
<thead>
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            <img src="~/Images/Products/@item.ImageFileName" style="width:100px" />
        </td>
        <td style="text-align: right">
            @item.UnitCost
        </td>
        <td>
            @item.Description
        </td>
        <td>
            @item.CategoryName
        </td>
        <td>
            <a href="~/OrderDetails/ShoppingCart?ProductId=@item.ProductId">Add&nbsp;to&nbsp;Cart</a>
        </td>
        <td>
            <a href="~/Catalog/Details?ProductId=@item.ProductId">Details</a>
        </td>
    </tr>
</thead>

    }

</table>


